@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Exercise 4: Full-stack</h1>
    <p>
        Write a little program that shows how you handle the full stack from front-end to back-end.
    </p>
    <ul>
            <li>
                A user should be able to enter a learning resource which has title, description, start date and end date
            </li>


            <li>
                The title is mandatory and all learning resources should be persisted into the system so that they
                can be retrieved later on.
            </li>


            <li>
                The program should be able to list the different recorded learning resources and export them as
                an Excel file.
            </li>
        </ul>



</div>
